@model IEnumerable<QuoteViewModel>

<div class="col-md-8 ml-auto mr-auto">
    <h2 class="text-center">Cotações</h2>
    <p class="text-center">
        Nessa seção ficam armazenadas todas as cotações.
    </p>
</div>

<a asp-action="Create" class="btn btn-primary mb-3">
    Adicionar cotação
</a>

<div class="row mt-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>

                <div class="table-responsive">
                    <table id="datatable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Oportunidade</th>
                                <th>Lead</th>
                                <th>Produto</th>
                                <th>Evento</th>
                                <th>Quantidade</th>
                                <th>Preço Total</th>
                                <th>Data de Modificação</th>
                                <th class="text-right">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var quote in Model)
                            {
                                <tr>
                                    <td>@quote.NameOpp</td>
                                    <td>@quote.LeadName</td>
                                    <td>@quote.NameProduct</td>
                                    <td>@quote.NameEvento</td>
                                    <td>@quote.Quantity</td>
                                    <td>@quote.TotalPrice.ToString("C")</td>
                                    <td>@quote.ModifiedOn?.ToString("dd/MM/yyyy")</td>
                                    <td class="text-right">
                                        <a class="btn btn-link btn-warning btn-icon btn-sm edit" href="@Url.Action("Details", new { id = quote.QuoteID })" data-toggle="tooltip" title="Detalhes" aria-label="Detalhes da Cotação">
                                            <i class="tim-icons icon-pencil"></i>
                                        </a>
                                        <a class="btn btn-link btn-danger btn-icon btn-sm btn-neutral remove" href="@Url.Action("Delete", new { id = quote.QuoteID })" data-toggle="tooltip" title="Excluir" aria-label="Excluir Cotação" onclick="return confirm('Tem certeza que deseja excluir esta cotação?');">
                                            <i class="tim-icons icon-simple-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Oportunidade</th>
                                <th>Lead</th>
                                <th>Produto</th>
                                <th>Evento</th>
                                <th>Quantidade</th>
                                <th>Preço Total</th>
                                <th>Data de Modificação</th>
                                <th class="text-right">Ações</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}