@model IEnumerable<CRM.WebApp.Ingresso.Models.EventViewModel>

@{
    ViewData["Title"] = "Loja Virtual";
}

<div class="container">
    <h2>Loja Virtual - Eventos</h2>
    <div class="row">
        @foreach (var evento in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="~/assets/img/evento_produto/@evento.ImageUrl" alt="@evento.Name">
                    <div class="card-body">
                        <h5 class="card-title">@evento.Name</h5>
                        <p class="card-text">@evento.Description</p>
                        <p class="card-text"><strong>Preço:</strong> @evento.TicketPrice</p>
                        <a href="@Url.Action("Details", "Store", new { id = evento.EventID })" class="btn btn-primary">Detalhes</a>
                        <a href="@Url.Action("AddToCart", "Store", new { id = evento.EventID })" class="btn btn-success">Adicionar ao Carrinho</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>